* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body  {
   background-color: #F6F8F9;
}
.Titologo  {
    font-size: 60px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
}  
section {
    margin-top: 3%;
    margin-left: 5%;
}
.top-pagina{
    background-color: white;
    height: 110px;
    
}
.bottoni{
    margin-top: 5%;
    margin-left:  4%;;
    border-radius: 20px;
    padding-top: 2%;
    
    
}
.logo{
    width: 100px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
.sfondobianco{
    background-color: white;
    margin-left:  15%;
    margin-right: 15%;
    
}
.linea{
    opacity: 0.3;
    color: grey;
}
ul{
    list-style-type: none;
}
.stilebottone{
    border-radius: 5px;
    background-color: white;
}