* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body  {
   background-color: #F6F8F9;

}



.Titologo  {
    font-size: 50px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
}  
section {
    margin-top: 3%;
    margin-left: 7%;
}
.top-pagina{
    background-color: white;
    height: 100px;
    
}
.bottoni{
    margin-top: 5%;
    margin-left:  4%;;
    border-radius: 20px;
    padding-top: 2%;
    
    
}
.logo{
    width: 100px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
.sfondobianco{
    background-color: white;
    margin-left:  19%;
    margin-right: 19%;
    
}
.linea{
    opacity: 0.3;
    color: grey;
}
ul{
    list-style-type: none;
}
.stilebottone{
    border-radius: 5px;
    background-color:#47ADF1;
    width: 90px;
    height: 30px;
    color: white;
    border-color: rgb(172, 169, 169);
}
.stilebottone2{
    border-radius: 5px;
    background-color: white;
    width: 90px;
    height: 30px;
    color: rgb(168, 164, 164);
    margin-bottom: 1%;
    border-color: rgb(172, 169, 169);
    
}
.colore-simbolo{
    
    color: rgb(133, 231, 133);
    border: 2px solid;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 15px;
    font-size: 13px;
    text-align: center;
}


.editorial{
    background-color:#45ABEA ;
    display: inline-block;
    border: 2px solid;
    border-radius: 20px;
    padding:6px 12px 6px 12px;
    color: white;
    font-size: 13px;
}
li {
    margin-top: 2%;
    font-size: 22px;
}
.Q1{
    background-color:#a725a0 ;
    display: inline-block;
    border: 2px solid;
    border-radius: 20px;
    padding:6px 12px 6px 12px;
    color: white;
    font-size: 13px;
}
.colore-simbolo2{
    color: rgb(209, 14, 14);
    border: 2px solid;
    border-radius: 50px;
    width: 21px;
    height: 21px;
    display: inline-block;
    line-height: 17px;
    font-size: 17px;
    text-align:center;
    
    
}
.Recruiting{
    background-color:#3bafd3;
    display: inline-block;
    border: 2px solid;
    border-radius: 20px;
    padding:6px 12px 6px 12px;
    color: white;
    font-size: 13px;
}
.Mobile{
    background-color:#e27f0e ;
    display: inline-block;
    border: 2px solid;
    border-radius: 20px;
    padding:6px 12px 6px 12px;
    color: white;
    font-size: 13px;
    
}
.Website{
    background-color:#c755aa ;
    display: inline-block;
    border: 2px solid;
    border-radius: 20px;
    padding:6px 12px 6px 12px;
    color: white;
    font-size: 13px;
}
.Sales{
    background-color:#6d9b4e ;
    display: inline-block;
    border: 2px solid;
    border-radius: 20px;
    padding: 6px 12px 6px 12px;
    color: white;
    font-size: 13px;
}

h2{
    font-size: 28px;
}
    
 main{
    padding-bottom: 3%;
 }   
